@import "tailwindcss";

:root {
  --background: #ffffff;
}


@theme inline {
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
}

@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins), system-ui, sans-serif;
  }
}


body {
  background: var(--background);
  font-family: var(--font-inter), system-ui, sans-serif;
}
